.content > ul.menu > li > a.active {
    background:#32a1ac;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
}
.content > ul.menu > li.active-trail > a{
    background:#32a1ac;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
}
.content > ul.menu > li.first > a.active{
    background:#32a1ac;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
}
.content > ul.menu > li > ul li a.active {
    position:relative;
}
.primarynavwrapper {
    float: left;
    background:url(../images/Navigation_bg_green.1.jpg) no-repeat top left;
    height:93px;
}
.sf-menu.sf-style-white li:hover a,
.sf-menu.sf-style-white li.sfHover a,
.sf-menu.sf-style-white li.active a,
.sf-menu.sf-style-white li.active-trail a,
.sf-menu.sf-style-white a:focus a,
.sf-menu.sf-style-white a:hover a,
.sf-menu.sf-style-white a:active a,
.sf-menu.sf-style-white.sf-navbar li li,
.sf-menu.sf-style-white.sf-navbar li.first a.active {
  background: none repeat scroll 0 0 #32a1ac;
}
.region-articleleft h1, .region-articleleft h2, .region-articleleft h3,
.region-articleleft h4, .region-articleleft h5, .region-articleleft h6 {

	color:#32a1ac;
	margin:0px;
}
.region-articleright h1, .region-articleright h2, .region-articleright h3,
.region-articleright h4, .region-articleright h5, .region-articleright h6 {
	background-color:#32a1ac;
	text-align:left;
}
.region-quickcontact h1, .region-quickcontact h2, .region-quickcontact h3,
.region-quickcontact h4, .region-quickcontact h5, .region-quickcontact h6 {
	color:#32a1ac;
	margin:0px;.region-quickcontact
}
.comments button, input[type="reset"], input[type="button"], input[type="submit"] {
	display:block;
	width:240px;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	color:#fff;
	background:#32a1ac;
	border:none;
	padding:6px 15px 6px 15px;
	margin:0 auto;
	margin-top:20px;
	position:static;

}
.mainarticle {
	color:#32a1ac;
	padding-top:30px;
}
.region-quickcontact input[type="text"]{
	background:url("../images/quick contact_name_textfield.jpg") no-repeat top center;
	border:none;
	width:250px;
	height:21px;
	padding:10px 15px;
	color:silver;

}
.article_title h1, .article_title h2, .article_title h3, .article_title h4, .article_title h5, .article_title h6 {
    color:#32a1ac;
    display: inline-block;
    margin: 10;
    padding: 0;
    text-align: right;
    margin-bottom:0px;
}
.article_title a {
  text-decoration:none;
  color:#32a1ac;
}
.quickcntct button, .quickcntct input[type="reset"], .quickcntct input[type="button"], .quickcntct input[type="submit"] {
	background:#FDAA20;
}
.quickcntct button, .quickcntct input[type="reset"], .quickcntct input[type="button"], .quickcntct input[type="submit"] {
	display:block;
	width:200px;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	color:#fff;
	background:#32a1ac;
	border:none;
	padding:6px 15px 6px 15px;
	margin-right:45px;
	position:static;
	float:right;
	cursor:pointer;
}
.article_title h1, .article_title h2, .article_title h3, .article_title h4, .article_title h5, .article_title h6 {
    color: green;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
}
