body,input,textarea,submit,text {
  font-family: Georgia, serif;
  font-size:13px;
  background:#222222;
  color:#fff;
}

#wrapper {
	width:100%;
	overflow:hidden;
}
.headerwrap {
	width:100%;
	overflow:hidden;
	background-color:#222222;
	color:#fff;
}
.header {
	height:250px;
	background:url("../images/header.jpg") no-repeat scroll 0 15px transparent;
}

.logo {
	
}
.login {
	height:100px;
	overflow:hidden;
	text-align:right;
	color:#fff;
}
.login div {
	margin:0px;
	padding:0px;
	padding-top:3px;
}
.socialmediaicons {
	text-align:right;
	float:right;
	margin-bottom:15px;
}
.socialmediaicons a {
	margin:3px;
}
.search {
	
}
.sliderwrap {
position:relative;
	width:100%;
	height:336px;
	float:left;
	background-color:#D3D3D3;
	border-top:10px solid #fff;
}
.contentwrapper {
	width:100%;
	overflow:hidden;
	background-color:#222222;
}
.mainarticle p {
	overflow:hidden;
	margin:30px 0px 30px 0px;
	color:#fff;
	text-align:justify;
	border:none;
	display:inline;
}
.mainarticle {
	color:#fdaa20;
	padding-top:0px;
	text-align:justify;
}
.mainarticle img {
	float:left;
	margin:10px 30px 15px 0px;
}
.articleleft {
	margin-top:30px;
}
.front-articleleft {
  padding-bottom:20px;
  border-bottom:1px solid silver;
  margin-top:20px;
}

.front-articleleft p {
	overflow:hidden;
  color:#fff;
  padding:10px 0px 0px 0px;
  text-align:justify;
  padding:0px;
  margin:0px;
}
.front-articleleft img {
  float:left;
  margin:10px 30px 10px 0px;
}

.region-articleright {
	background-color:#313131;
	padding:15px;
	text-align:center;
	color:#000;
  margin-top:30px;
}
.leftarticlewrap {
	overflow: hidden;
	
}
.rightarticlewrap {
	overflow: hidden;
	
}
.region-quickcontact {
	text-align:center;
	margin-top:40px;
}
.footerwrapper {
	width:100%;
	overflow:hidden;
	background-color:#222222;
}
.footer {
	height:160px;
	margin-top:60px;
	background:url(../images/footer.jpg) no-repeat top center;
	position:relative;
}
.region-footernav {
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.region-footercopyright {
	overflow:hidden;
	color:#fff;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.region-footercopyright p {
	margin:0px;
	padding:0px;
}
.region-footercopyright p a {
color:#fff;
text-decoration:none;
}
.region-footercopyright p a:hover {
color:#fff;
}
.region-footericons {
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.region-footericons p {
  margin:-1.6em;
}

.region-footericons img {
	margin:2px 10px 2px 10px;
}
.comments {
	overflow:hidden;
	margin-top:30px;
}
.region-articlerighttwo {
  overflow:hidden;
  margin-top:40px;
}
.region-articlebottom {
  overflow:hidden;
}
.bottomblocks {
  overflow:hidden;
  border-top:1px solid #7b7b7b;
  padding-top:30px;
  margin-top:20px;
}
.comment_user{
  float: left;
  height: 57px;
  width: 57px;
}
ul.tabs{
margin-top:30px;
margin-bottom:10px;

}
