
body {
  line-height: 1;
  font: 13px/1.5 Georgia, serif;

}
body, html, div, p {
  color:#fff;
}
ol {
    list-style-type: decimal;
    color:#fff;
}
ol {
    display: block;
}

ul li {
    display: list-item;
    list-style-type: disc;
    color:#fff;
}
fieldset {
    background-color: #000000;
    border: 1px solid silver;
    margin: 0 0 1.2em;
    width:604px;
    padding: 0.6em 2%;
    color:#fff;
}
.form-item input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #000;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0;
    margin:0px;

}
.form-item select {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #000;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}
.form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #000;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}
.form-item input.form-text, .form-item select {
    padding: 3px 1%;
    width: 98%;
}
form input.form-submit {
    border: 0 none;
    color: #FFFFFF;
    font-family: 'Yanone Kaffeesatz','Arial Narrow',Helvetica,Arial,'sans serif';
    font-size: 140%;
    margin: 2px;
    padding: 5px 8px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: auto;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
}
table {
    border-collapse: collapse;
}
td, tr.odd td, tbody th {
    background-color: #000;
    border:1px solid silver;
}
tr.even, tr.odd {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
th {
  border:none;
}
legend {
  color:#fff;
}
.form-item .description {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: bold;
    color:#fff;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
h1 {
  font-size: 4em;
  letter-spacing:-1px;
  color:orange;
}
h1.title {
  font-size: 4em;
  letter-spacing:-1px;
  color:orange;
}

h2 {
  font-size: 2em;
  color:orange;
}
h2.block-title {
  background:orange;
  color:#000;
}
h2.title a:link, h2.title a:visited {
    color: orange;
    text-decoration: underline;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
}

h3 {
  font-size: 1.6em;
  color:orange;
}

h4 {
  font-size: 1.4em;
  color:orange;
}

h5 {
  font-size: 90%;
  color:orange;
}

h6 {
  font-size: 80%;
  color:orange;
}
ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}
b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #000;
}
blockquote {
    color: #FFFFFF;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #fff !important;
    text-decoration:underline;
}
a, a:hover, a:active {
    color: #fff;
    text-decoration:none;
}
div.status, table tr.ok {
    background-color: #000;
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: orange;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.error, table tr.error {
    background-color: #000;
}
div.error, .error {
    color: #fff;
}
div.warning, table tr.warning {
    background-color: #000;
}
div.warning, .warning {
    color: #fff;
}
div.error {
    border-color: orange;
}
div.warning {
    border-color: orange;
}
p code {
    background-color: orange;
}
p code {
    border: medium none;
    color: #000;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}

ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
ul li.expanded {
    list-style-image: none;
    list-style-type: none;
}
ul li.collapsed {
    list-style-image: none;
    list-style-type: none;
}
.navbar {
    float: left;
    margin: 0;
    padding: 0;
}
.content > ul.menu {
    margin: 0;
    padding: 0;
    margin-top:-3px;
}
.content > ul.menu > li {
    float: left;
    list-style: none outside none;

}
.content > ul.menu >li > a {
    color: #FFFFFF;
    display: block;
    font-family: Georgia,serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 2px 10px;
    text-decoration: none;
    border-radius:8px 8px 0px 0px;
}
.content > ul.menu > li:hover > a {
    color: #000000;
    display:block;
    height:32px;
}
.content > ul.menu > li > a.active {
    color: #000000;
    display:block;
    height:32px;
}
.content > ul.menu > li.active-trail > a {
    color: #000000;
    display:block;
    height:32px;
}
.content > ul.menu > li.first > a.active {
    color: #000000;
    display:block;
    height:32px;
}
.content li ul.menu{
    display: none;
}
li.active-trail > ul.menu, .content > li > ul > li{
    display: inline;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;

}
.content ul > li > ul li a{
 color: #FFFFFF;
    display: block;
    position:relative;
    float: left;
    font-family: Georgia,serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 2px 10px;
    text-decoration: none;
}
.content ul li a{
 float:left
    font-family: Georgia,serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 2px 10px;
    text-decoration: none;
}
.navbar li li {
    float: left;
    border:none;
    margin-top:3px;
}
.navbar li li a {
    color: #FFFFFF;
    font-family: Georgia,serif;
    font-size: 14px;
    padding-top: 20px;
    position:relative;

}
.navbar li li a:hover {
    color: #335577;
}
.sliderwrap{overflow:visible;}
.region-login {
	text-align: right;
}
.region-login label {
	display:inline;
	margin:0px;
	padding:0px;
}
.region-login input {
	float:none;
	margin:0px;
	padding:0px;
}
.region-login ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.region-login ul li {
	display:inline;
}
.region-login input[type="submit"] {
	text-align:right;
	padding:0px;
	margin:0px;
	background:none;
}
.search input[type="text"] {
	background:url("../images/search_box.jpg") no-repeat 1px 1px;
	color:#919191;
	width:273px;
	height:26px;
	margin-top:10px;
	border:1px solid #000;
	padding:0px 35px 0px 10px;
	font-style:italic;
	font-weight:bold;
}
form input[type="image"], form input[type="button"], form input[type="submit"].search {
	display:block;

	text-align:center;
	background:transparent;
	border:none;
	margin:0px;
	position:absolute;
	top:6px;
	right:-6px;
	cursor:pointer;
	height:24px;
}


.region-articleleft p a {
	text-decoration:underline;
	color:#fff;
	display:block;
	text-align:right;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
}

.region-articleright p {
	color:#fff;
	text-align:justify;
}
.region-articleright p a {
	text-decoration:underline;
	color:#fff;
	display:block;
	padding:6px;
	text-align:right;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
}
.region-articleright p img {
  display:block;
  width:100%;
}
.region-articleright h1, .region-articleright h2, .region-articleright h3, .region-articleright h4, .region-articleright h5,
.region-articleright h6 {
  margin:0px;
  padding:0px;
  color:#000;
}

.region-quickcontact button, .region-quickcontact input[type="reset"], .region-quickcontact input[type="button"],
.region-quickcontact input[type="submit"] {
	/*display:block;*/
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	color:#fff;
	background-color:#FDAA20;
	background-image:none;
	border:none;
	padding:6px;
	float:none;
	/*margin-top:20px;*/
	position:static;
  width:220px;
  cursor:pointer;
  margin-right:auto;
}
.region-content button, .region-content input[type="reset"], .region-content input[type="button"], .region-content input[type="submit"] {
	display:block;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	text-align:center;
	color:#fff;
	background-color:#FDAA20;
	background-image:none;
	float:left;
	border:none;
	padding:6px;
	margin:0 auto;
	margin-top:20px;
	margin-right:10px;
	position:static;
  width:220px;
  cursor:pointer;
}

/*.region-quickcontact input[type="text"]{
	background:url("../images/quick contact_name_textfield.jpg") no-repeat top center;
	border:none;
	width:262px;
	color:silver;
	padding:14px 5px;
	margin-bottom:10px;

}*/

.region-quickcontact input[type="text"] {
    background: url("../images/quick contact_name_textfield.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: silver;
    margin-bottom: 10px;
    padding: 14px 5px;
    width: 262px;
    box-sizing: initial;
}
.region-quickcontact textarea{

	background: url("../images/quickcontact_message_textfield.1.jpg") repeat-x scroll left top #000000;
  border-bottom: 1.5px solid !important;
  border-left: 1px solid black;
  border-right: 1.5px solid white !important;
  border-top: 1px solid black;
  color: silver;
  min-height: 100px;
  padding: 14px 5px;
  resize: vertical;
  width: 260px;
  box-sizing: initial;

}
/*.region-quickcontact textarea{

	background:url("../images/quickcontact_message_textfield.1.jpg") #000 repeat-x top left;
	border:1px solid #000;
	width:271px;
	height:100px;
	padding:14px 10px;
	color:silver;
	resize:vertical;

} original */
.comments input[type="text"]{
	display:block;
	background:url("../images/quick contact_name_textfield.jpg") no-repeat top center;
	border:none;
	width:251px;
	height:41px;
	padding:0px 10px 0px 10px;
	color:silver;
	margin-bottom:20px;
}
.comments textarea{
	display:block;
	background:url("../images/text_field_comment,message.jpg") no-repeat center bottom;
	border:none;
	width:604px;
	height:82px;
	padding:0px 10px 0px 10px;
	color:silver;
}


.region-footernav ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	text-align:center;
}
.region-footernav ul li {
	display:inline;
	color:#fff;
	font-size:16px;
}
.region-footernav ul li a {
	color:#fff;
	text-decoration:none;
	letter-spacing:4px;
	font-size:14px;
	padding:6px 10px 6px 10px;
}
.login a {
	color:#fff;
	text-decoration:none;
}


.comment-arrow{
	margin-top:20px;
	border:1px solid #4f4f4f;
	padding:10px;
}
.comment-arrow p {
	color:silver;
}
.comment-arrow .comment ul.inline, ul.links.inline li a  {
                                                         margin-right:4px;
                                                         color:#fff;
                                                         font-size:13px; font-weight:bold;
                                                         }

.comment-arrow h3 a
              {
              color:#fff;
              font-size:14px;
              text-decoration:none;
              margin-bottom:0px;
              font-weight:normal;
              }

.submitted_date
              {
              text-align:right;
              color:yellow;
              }

.submitted a
              {
              font-size:14px;
              color:yellow;
              font-weight:bold;
              text-decoration:none;
              text-transform:capitalize;
              }

.resizable-textarea .grippie {
	display:none;
}

#edit-author--2 a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
.displaycomment {
  margin-top:60px;
}

.commentername h3 {
	color:yellow;
	font-size:16px;
	background:none;
}
.commenterdate {
	color:yellow;
	font-size:16px;
	text-align:right;
	float:right;
	margin-right:10px;
}

.comment-form input[type=text] {
	display:block;
	background:url("../images/quick contact_name_textfield.jpg") no-repeat top center;
	border:none;
	width:251px;
	height:41px;
	padding:0px 10px 0px 10px;
	color:silver;
	margin-bottom:20px;
}
.comment-form textarea {
	display:block;
	background:url("../images/quickcontact_message_textfield.1.jpg") #000 repeat-x top center;
	border:1px solid #000;
	width:604px;
	height:82px;
	padding:10px;
	color:silver;
	resize:vertical;
	margin-bottom:20px;
}

.commenttitlemain {
	color:#fdaa1e;
	background:url("../images/comment.png") no-repeat left center;
	border:none;
	padding-top:10px;
	margin-top:20px;
}
.tips {
	color:#fff;
}
.filter-help a {
	color:yellow;
}
.search-form input[type="text"] {

	border:1px dotted yellow;
	display:block;
	margin-bottom:20px;
	color:silver;
	padding:0px 10px 0px 10px;
	height:30px;
	width:500px;
}
.search-form input[type="submit"] {

	border:1px dotted yellow;
	display:block;
	float:left;
	margin-bottom:20px;
	margin-right:400px;
	color:silver;
	padding:0px 10px 0px 10px;
	height:30px;
	color:#fff;

}
.region-articlerighttwo h1, .region-articlerighttwo h2, .region-articlerighttwo h3,
.region-articlerighttwo h4, .region-articlerighttwo h5, .region-articlerighttwo h6 {
	color:#FDAA20;
	margin:0px;text-align:left;padding:0px;
}
.region-articlerighttwo p {
  color:#fff;
  text-align:justify;
}
.region-articlerighttwo p a {
	text-decoration:underline;
	color:#fff;
	display:block;
	text-align:right;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
	padding:6px;
}

.bottomblocks h1, .bottomblocks h2, .bottomblocks h3,
.bottomblocks h4, .bottomblocks h5, .bottomblocks h6 {
	color:#FDAA20;display:block;
	margin:0px;text-align:left;padding:0px 0px 0px 16px;
}
.bottomblocks p {
  color:#fff;
  text-align:justify;
  padding:0px 16px;
}
.bottomblocks p a {
	text-decoration:underline;
	color:#fff;
	display:block;
	text-align:right;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
	padding:6px;
}
.region-mediaicons img {
  display:block;
  margin-top:35px;
  margin-left:6px;
  float:right;
}
.logo img {
	margin-top:25px;
	}
.fieldset-title {
	color:yellow;
}
.form-submit {background:red;}

.slideshowrap {
	width:960px;
	height:350px;
	position:relative;
}
.slideshow {
	position:absolute;
	width:960px;
	height:336px;
	top:-10px;
	border-top: 10px solid #E4E4E4;
}
.region-styleswitcher h2 {
	color:#fff;
	margin:0px;
}
.region-styleswitcher ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-align:center;
}
.region-styleswitcher ul li {
	display:inline;
	color:#fff;
	font-weight:bold;
	padding:6px;
	margin:0px;
}
.region-styleswitcher ul li a {
	text-decoration:none;
	color:orange;
}
.footer_zyxware {
  position:absolute;
  right:0px;
  bottom:28px;
  font-size:8px;
  text-align:right;
  color:#303030;
  margin-right:10px;
  overflow:hidden;
}
.footer_zyxware a:link,.footer_zyxware a:visited {
  color:#303030;
  text-decoration:none;
}
.article_title h1, .article_title h2, .article_title h3, .article_title h4, .article_title h5, .article_title h6 {
    color: orange;
    display: block;
    margin: 10;
    padding: 0;
    text-align: left;
    margin-bottom:0px;
    margin-top:0px;
}
.article_title a {
  text-decoration:none;
  color:orange;
}
.link-wrapper {
  text-align:right;
}
.filter-wrapper {
  border:none;
}
.region-search {
  position:relative;
  float:right;
}
.middleline {
  width:960px;
  height:10px;
  margin-left:auto;
  margin-right:auto;
  background:#E4E4E4;
}
.search-results {
  margin:0px;
  padding:0px;
}
.search-results .search-snippet-info {
  padding:0px;
}

.post-tags .field-item {
  float:left;
  margin-right:5px;
  margin-top:10px;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD);
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
}
.post-tags{
   width:580px;
   overflow:hidden;
}

.post-tags a{
	color:blue;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-tags .field-label {
  display:none;
}

.slideshowrap img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}
